# Creates a subset of the data for webapp
- Split a small set of data
- Create a json call for each
- Aggregate results

In [2]:
import pandas as pd
import json

### Creates tiny sets of data in /mnt/data/Fraud_Detection/webapp_sets/
While we are at it, let's rename the column Time to Hour so it works with the model

In [10]:
dataDF = pd.read_csv("/mnt/data/Fraud_Detection/creditcard.csv")
for i in range (0,4):
    chunkDF=dataDF.iloc[i*1000:(i+1)*1000].rename(columns={"Time":"Hour"})
    filename="/mnt/data/Fraud_Detection/webapp_sets/records_set"+str(i)+".csv"
    chunkDF.to_csv(filename, encoding='utf-8', index=False)
chunkDF

,Hour,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
3000,2550.0,-1.051814,0.018941,2.175615,1.350192,1.449274,-0.158682,1.057312,-0.972456,0.287355,...,-0.221783,0.343765,-0.438858,0.132192,0.027648,-0.341258,-0.946454,-0.501829,16.34,0
3001,2550.0,1.456130,-1.258498,0.459297,-1.597391,-1.435359,-0.008816,-1.348759,0.062823,-1.767847,...,-0.047704,0.167675,-0.138894,-0.509688,0.401893,-0.071716,0.039961,0.013371,42.00,0
3002,2552.0,0.527645,-1.867609,-0.406808,-0.080770,-1.328165,-0.893759,0.398017,-0.429082,-0.892784,...,-0.170767,-0.904490,-0.408501,0.475829,0.275841,1.042112,-0.152948,0.077796,461.45,0
3003,2553.0,1.026734,-0.426098,1.156206,1.419335,-1.275691,-0.236011,-0.652152,0.223332,1.280394,...,-0.053759,-0.222542,-0.030280,0.322155,0.303491,-0.407033,0.043183,0.043897,73.85,0
3004,2554.0,-1.040687,1.476344,1.518361,1.923925,-0.288086,0.460971,0.201388,-0.265281,-2.166475,...,-0.209605,-0.172498,0.051361,0.062193,-0.742341,-0.018798,-1.201987,-0.347993,11.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3637.0,-3.061576,-1.609474,1.266768,-0.188387,-1.378141,0.094377,0.527057,0.372759,1.746894,...,-0.298469,-0.583340,-0.388332,0.402433,-0.228393,0.730564,0.468322,-0.519314,437.17,0
3996,3637.0,1.171622,0.231544,0.674439,1.274870,-0.553417,-0.697918,-0.231447,-0.007440,1.408695,...,-0.163620,-0.350009,0.029405,0.394004,0.383792,-0.499815,-0.023091,0.006658,6.95,0
3997,3638.0,0.347370,-1.160738,1.011706,1.615779,-0.796071,1.240521,-0.421147,0.322980,1.813689,...,0.111878,0.029622,-0.258820,-0.322427,0.096853,-0.444063,0.011192,0.076735,360.46,0
3998,3638.0,-0.997800,1.099950,1.438566,-1.369962,0.364836,-0.419236,0.929917,-0.471805,1.588048,...,-0.346407,-0.399725,-0.139500,-0.446228,-0.185711,0.683184,-0.054256,-0.006615,37.96,0
3999,3639.0,-0.377328,0.606012,1.474296,-0.373168,0.551367,-0.602437,0.558113,-0.229391,1.134284,...,-0.319543,-0.729032,0.018198,-0.117900,-0.596078,-0.204930,-0.316321,-0.158255,1.98,0

### Creates individual jsons from /mnt/data/Fraud_Detection/webapp_sets/record_0.csv

In [11]:
recordDF=pd.read_csv("/mnt/data/Fraud_Detection/webapp_sets/records_set1.csv")
for t in range (1,9):
    chunkDF=recordDF.iloc[t]+recordDF.iloc[t,0]
    result = chunkDF.to_json(orient="index")
    final='{ "data": '+result+" }"
    filename="/mnt/data/Fraud_Detection/webapp_sets/unique_record_"+str(t)+".json"
    with open(filename, 'w') as f:
        f.write(final)
    print(final)

{ "data": {"Hour":1512.0,"V1":757.1837433868,"V2":756.1155710853,"V3":756.8465170745,"V4":756.928533835,"V5":755.4603236436,"V6":755.8809757643,"V7":755.5815816514,"V8":756.1456545232,"V9":756.1674867674,"V10":756.1381375184,"V11":756.9554283302,"V12":756.621258272,"V13":755.722474186,"V14":756.3613606006,"V15":756.6588101469,"V16":756.8024975197,"V17":755.034789504,"V18":756.6971541203,"V19":755.9240313452,"V20":755.8669086983,"V21":755.9654315888,"V22":755.8709665329,"V23":756.0118196179,"V24":755.9674548563,"V25":756.3229597261,"V26":755.4926082701,"V27":756.0429205157,"V28":756.0224439053,"Amount":758.5,"Class":756.0} }
{ "data": {"Hour":1512.0,"V1":757.2259019799,"V2":756.2396667505,"V3":756.1700205542,"V4":756.5085874519,"V5":755.7971726,"V6":755.4323195983,"V7":755.9487073735,"V8":755.9927504018,"V9":755.8737122311,"V10":755.8993795492,"V11":757.2454168254,"V12":756.5373527876,"V13":755.6811352794,"V14":755.9936998479,"V15":756.4756016831,"V16":756.7974136932,"V17":755.6524587254,"V18":756.3699845835,"V19":756.2187028679,"V20":755.9190436432,"V21":755.7394988742,"V22":755.1756120615,"V23":756.0770318334,"V24":755.9435710614,"V25":756.210946177,"V26":756.0988121142,"V27":755.9682367671,"V28":756.0171000257,"Amount":763.28,"Class":756.0} }
{ "data": {"Hour":1516.0,"V1":759.1951912714,"V2":758.1649816439,"V3":758.6089153283,"V4":758.6537339441,"V5":757.4883896518,"V6":757.274080817,"V7":757.9448765344,"V8":757.9500999757,"V9":758.1198430379,"V10":757.9096188606,"V11":758.1839916226,"V12":758.2081311874,"V13":757.5720832083,"V14":758.4195621009,"V15":759.3328416563,"V16":757.9462038039,"V17":758.012137519,"V18":756.9836865627,"V19":757.4043411315,"V20":757.8200976751,"V21":757.7835184606,"V22":757.3760262041,"V23":758.2150723074,"V24":758.3766962186,"V25":758.0788021047,"V26":758.1063582776,"V27":757.9836535937,"V28":758.0173503819,"Amount":758.99,"Class":758.0} }
{ "data": {"Hour":1516.0,"V1":759.1520707562,"V2":758.1190970297,"V3":758.5154099574,"V4":759.4801478672,"V5":757.5567506209,"V6":757.5932291374,"V7":757.9583382712,"V8":758.0567809341,"V9":758.5123940726,"V10":757.9247353171,"V11":757.4808635876,"V12":757.7828605059,"V13":756.2050837727,"V14":758.4035205466,"V15":758.0576641393,"V16":757.2564379338,"V17":758.4735567773,"V18":757.1113517888,"V19":757.5222903967,"V20":757.6843053706,"V21":757.8975557698,"V22":757.8751855298,"V23":758.0027736825,"V24":758.3767274936,"V25":758.5676019123,"V26":757.6730077755,"V27":758.0309228584,"V28":758.0148669588,"Amount":760.49,"Class":758.0} }
{ "data": {"Hour":1516.0,"V1":754.9404670188,"V2":759.8285992727,"V3":757.7274761391,"V4":755.4814666783,"V5":757.5662817165,"V6":757.0008530123,"V7":757.6990473073,"V8":754.7875009611,"V9":760.2580827036,"V10":758.7665337808,"V11":758.0566960581,"V12":757.8905302606,"V13":756.0518001531,"V14":758.3553852642,"V15":759.499507555,"V16":756.8599777268,"V17":758.4746617649,"V18":757.4087685364,"V19":757.9918223591,"V20":757.5996126364,"V21":760.7902976579,"V22":757.2973169438,"V23":758.6265164109,"V24":758.3269395944,"V25":758.1317126134,"V26":757.8953513668,"V27":758.6493761788,"V28":758.114990107,"Amount":759.0,"Class":758.0} }
{ "data": {"Hour":1516.0,"V1":758.5304778984,"V2":756.4129834039,"V3":759.1482802521,"V4":758.7095244009,"V5":756.3788049719,"V6":758.7627131047,"V7":757.2068461319,"V8":758.4176717989,"V9":759.4304819147,"V10":757.5291602241,"V11":758.7729399379,"V12":759.0533413588,"V13":756.9450719104,"V14":757.5196158749,"V15":756.520805246,"V16":757.5179724326,"V17":758.5394160332,"V18":757.6919022552,"V19":758.2429976106,"V20":758.3991160626,"V21":758.248558978,"V22":758.4773544317,"V23":757.6932162025,"V24":758.3461768968,"V25":758.1355318124,"V26":759.2006271642,"V27":757.9426131092,"V28":758.0477531343,"Amount":1049.38,"Class":758.0} }
{ "data": {"Hour":1518.0,"V1":760.1301092344,"V2":758.7955816476,"V3":759.868317203,"V4":760.5317546572,"V5":758.6813629883,"V6":760.0709853902,"V7":758.4466965216,"V8":759.3426269175,"V9":760.3276465148,"V10":758.586324042,"V11":757.1216342053,"V12":759.639411777,"V13":758.7542964031,"V14":758.2334806288,"V15":757.3711623959,"V16":758.103921048,"V17":759.4773372166,"V18":757.9354545888,"V19":759.489794142,"V20":758.818452884,"V21":758.5306197161,"V22":758.1145167475,"V23":758.9779298229,"V24":758.2245666087,"V25":759.5315461472,"V26":758.5428791847,"V27":759.0886532055,"V28":759.0206120963,"Amount":774.0,"Class":759.0} }
{ "data": {"Hour":1520.0,"V1":761.0471741138,"V2":760.2877375732,"V3":760.3643031778,"V4":762.2335274924,"V5":760.157587364,"V6":760.2840117857,"V7":760.1057074178,"V8":760.0810589087,"V9":759.0593268964,"V10":760.8058026865,"V11":760.4683517449,"V12":760.3453490146,"V13":760.0678754541,"V14":760.4622284127,"V15":759.935022636,"V16":761.22496827,"V17":758.8056989256,"V18":760.3153957968,"V19":759.6541041023,"V20":760.0431714147,"V21":759.7956824224,"V22":759.1184311482,"V23":759.9611526338,"V24":759.4466324069,"V25":760.2974188473,"V26":759.7599154521,"V27":759.9731055784,"V28":760.0237645051,"Amount":842.39,"Class":760.0} }

In [12]:
test=pd.read_json("/mnt/data/Fraud_Detection/webapp_sets/unique_record_1.json")
test

               data
Amount   758.500000
Class    756.000000
Hour    1512.000000
V1       757.183743
V10      756.138138
V11      756.955428
V12      756.621258
V13      755.722474
V14      756.361361
V15      756.658810
V16      756.802498
V17      755.034790
V18      756.697154
V19      755.924031
V2       756.115571
V20      755.866909
V21      755.965432
V22      755.870967
V23      756.011820
V24      755.967455
V25      756.322960
V26      755.492608
V27      756.042921
V28      756.022444
V3       756.846517
V4       756.928534
V5       755.460324
V6       755.880976
V7       755.581582
V8       756.145655
V9       756.167487

In [13]:
DF_DATASAMPLE=pd.read_csv("/mnt/data/Fraud_Detection/webapp_sets/records_set3.csv")

In [14]:
DF_DATASAMPLE.head(2)

,Hour,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,2550.0,-1.051814,0.018941,2.175615,1.350192,1.449274,-0.158682,1.057312,-0.972456,0.287355,...,-0.221783,0.343765,-0.438858,0.132192,0.027648,-0.341258,-0.946454,-0.501829,16.34,0
1,2550.0,1.456130,-1.258498,0.459297,-1.597391,-1.435359,-0.008816,-1.348759,0.062823,-1.767847,...,-0.047704,0.167675,-0.138894,-0.509688,0.401893,-0.071716,0.039961,0.013371,42.00,0

In [15]:
DF_FULLDATA=pd.read_csv("/mnt/data/Fraud_Detection/creditcard.csv")

In [16]:
DF_FULLDATA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB